*.log
WebZas/.DS_Store
WebZas/.env
WebZas/.env.backup
WebZas/.env.production
WebZas/.phpactor.json
WebZas/.phpunit.result.cache
/WebZas/.fleet
/WebZas/.idea
/WebZas/.nova
/WebZas/.phpunit.cache
/WebZas/.vscode
/WebZas/.zed
/WebZas/auth.json
/WebZas/node_modules
/WebZas/public/build
/WebZas/public/hot
/WebZas/public/storage
/WebZas/storage/*.key
/WebZas/storage/pail
/WebZas/vendor
WebZas/Homestead.json
WebZas/Homestead.yaml
WebZas/Thumbs.db
